{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="my-4">
    <div class="row">
        <div class="col-lg-6 col-md-6 my-1">
        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-primary" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="alert alert-primary my-2" role="alert">
        you will receive a verification link on registered email after submitting details.
        </div>
                        {% endif %}
                <div class="card">
                    <h2 class="text-center">Donar Details</h2>
                        <div class="card-body text-center">
                        
                            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    
                                <input type="text" id="donarname" name="donarname" placeholder="FullName" class="ngo_class" required>
                                <br><br>
                              
                                <input type="text" id="donarphone" name="donarphone" class="ngo_class" placeholder="Contact No." required>
                                <br><br>
                               
                                <input type="text" id="donarwhatsapp" name="donarwhatsapp" class="ngo_class" placeholder="Whatsapp No." required>
                                <br><br>
                               
                                <input type="email" id="donaremail" name="donaremail" class="ngo_class" placeholder="Email" required>
                                <br><br>

                                <input type="text" id="donaraddress" name="donaraddress" class="ngo_class" placeholder="Address" required>
                                <br><br>
                                <input type="text" id="donarlocation" name="donarcity" class="ngo_class" placeholder="City" required>
                                <br><br>
                                <input type="text" id="donar_pincode" name="donar_pincode" class="ngo_class" placeholder="Pincode" required>
                                <br><br>
                               
                                <input type="text" id="donarstate" name="donarstate" class="ngo_class" placeholder="State" required>

                                <br><br>  
                                <h2 class="my-5">Book Detail</h2>
                               
                                <input type="text" id="bookname" name="bookname" placeholder="BookName" class="ngo_class" required>
                                <br><br>
                                 <input type="text" name="isbn"  placeholder="ISBN" class="ngo_class" required>
                                 <small id="emailHelp" class="form-text text-muted"><i class="fa fa-info-circle fa-lg"></i> isbn is 13 digit no. at the back of book.</small> 
                                <input type="text" id="authorname" name="authorname" placeholder="Author" class="ngo_class" required>
                                <br><br>
                                
                                <input type="text" id="publisher_detail" name="publisher_detail" placeholder="Publisher" class="ngo_class" required>
                                <br><br>

                                <label for="genre" id="seeme6">Category : </label>
                           <br>
                                 <select name="genre" id="genre" class="ngo_class">
                                    <optgroup label="Playschool-VI">
                                     <option value="" selected disabled hidden>Choose here</option>
                                        <option value="Playschool">Playschool</option>
                                        <option value="I">Class I</option>
                                        <option value="II">Class II</option>
                                        <option value="III">Class III</option>
                                        <option value="IV">Class IV</option>
                                        <option value="V">Class V</option>
                                        <option value="VI">Class VI</option>
                                    </optgroup>
                                     <optgroup label=""></optgroup>
                                    <optgroup label="Class VII-XII">
                                        <option value="VII">Class VII</option>
                                        <option value="VIII">Class VIII</option>
                                        <option value="IX">Class IX</option>
                                        <option value="X">Class X</option>
                                        <option value="XI">Class XI</option>
                                        <option value="XII">Class XII</option>
                                    </optgroup>
                                     <optgroup label=""></optgroup>
                                 <optgroup label="Competitive Exam Books">
                                        <option value="Navodaya">Navodaya Vidyalaya</option>                               
                                        <option value="NTSE">NTSE</option>                               
                                        <option value="Olympiads">Olympiads</option>
                                        <option value="KVPY">KVPY</option>
                                        <option value="SAT">SAT</option>

                                        <option value="JEE">JEE Books & Modules</option>
                                        <option value="NEET">NEET Books & Modules</option>
                                        <option value="UPSE">UPSE Books/Module</option>
                                        <option value="NDA-CDS">NDA/CDS Books/Module</option>
                                        <option value="GRE-GATE">GRE/GATE Books</option>
                                        <option value="GMAT">GMAT Books</option>
                                        <option value="CAT">CAT Exam books</option>

                                        <option value="SSC">SSC Books</option>
                                        <option value="Banking">Banking</option>
                                        <option value="Railway">Railway</option>
                                        <option value="Teaching-Related">Teaching Related</option>
                                        <option value="CompOther">Other Comp. Books</option>

                                    </optgroup>



                     
                                     <optgroup label=""></optgroup>
                                    <optgroup  label="Science Courses">
                                     <optgroup label=""></optgroup>
                                      <optgroup label="Engineering Books & modules">
                                          <optgroup label="First Year">
                                          <option value="FAero">Aerospace/aeronautical </option>
                                          <option value="FChemical">Chemical</option>
                                          <option value="FCivil">Civil</option>
                                          <option value="FCE">Computer Engineering </option>                               
                                          <option value="FElectrical">Electrical </option>
                                          <option value="FECE">Electronics & Communication</option>
                                          <option value="FIT">Information & Technology</option>                               
                                          <option value="FMech">Mechanical</option>
                                          <option value="FOthers">Other</option>
                                         </optgroup>


 <optgroup label=""></optgroup>
                                        <optgroup label="Second Year">
                                         <option value="SAero">Aerospace/aeronautical </option>
                                         <option value="SChemical">Chemical</option>
                                        <option value="SCivil">Civil</option>
                                          <option value="SCE">Computer Engineering </option>                               
                                        <option value="SElectrical">Electrical </option>
                                        <option value="SECE">Electronics & Communication</option>
                                        <option value="SIT">Information & Technology</option>                               
                                        <option value="SMech">Mechanical</option>
                                        <option value="SOthers">Other</option>
                                         </optgroup>

 <optgroup label=""></optgroup>
                                        <optgroup label="Third Year">
                                         <option value="TAero">Aerospace/aeronautical </option>
                                         <option value="TChemical">Chemical</option>
                                        <option value="TCivil">Civil</option>
                                        <option value="TCE">Computer Engineering </option>                               
                                        <option value="TElectrical">Electrical </option>
                                        <option value="TECE">Electronics & Communication</option>
                                        <option value="TIT">Information & Technology</option>                               
                                        <option value="TMech">Mechanical</option>
                                        <option value="TOthers">Other</option>
                                         </optgroup>


 <optgroup label=""></optgroup>
                                        <optgroup label="Fourth Year">
                                        <option value="FoAero">Aerospace/aeronautical </option>
                                         <option value="FoChemical">Chemical</option>
                                        <option value="FoCivil">Civil</option>
                                          <option value="FoCE">Computer Engineering </option>                               
                                        <option value="FoElectrical">Electrical </option>
                                        <option value="FoECE">Electronics & Communication</option>
                                        <option value="FoIT">Information & Technology</option>                               
                                        <option value="FoMech">Mechanical</option>
                                        <option value="FoOthers">Other</option>
                                         </optgroup>
                                    </optgroup>

{% comment %} MEDICAL BOOKS {% endcomment %}
  
 <optgroup label=""></optgroup>
                                         <optgroup label="B.Sc">
                                           <option value="bsci">B.Sc I-year</option>
                                           <option value="bscii">B.Sc II-year</option>
                                           <option value="bsciii">B.Sc Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="B.E">
                                           <option value="BEI">B.E I-year</option>
                                           <option value="BEII">B.E II-year</option>
                                           <option value="BEIII">B.E III-year</option>
                                            <option value="BEIV">B.E Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="B.C.A">
                                           <option value="BCAI">B.C.A I-year</option>
                                           <option value="BCAII">B.C.A II-year</option>
                                           <option value="BCAIII">B.C.A Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="M.S.C">
                                           <option value="MSCI">M.S.C I-year</option>
                                           <option value="MSCII">M.S.C Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                           <optgroup label="M.Tech">
                                           <option value="MTechI">M.Tech I-year</option>
                                           <option value="MTechII">M.Tech Final-year</option>
                                         </optgroup>

 <optgroup label=""></optgroup>
                                          <optgroup label="BAMS">
                                           <option value="BAMSI">BAMS I-year</option>
                                           <option value="BAMSII">BAMS II-year</option>
                                            <option value="BAMSIII">BAMS III-year</option>
                                           <option value="BAMSIV">BAMS IV-year</option>
                                           <option value="BAMSV">BAMS Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="BHMS">
                                         <option value="BHMSI">BHMS I-year</option>
                                           <option value="BHMSII">BHMS II-year</option>
                                            <option value="BHMSIII">BHMS III-year</option>
                                           <option value="BHMSIV">BHMS IV-year</option>
                                           <option value="BHMSV">BHMS Final-year</option>

                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="BUMS">
                                          <option value="BUMSI">BUMS I-year</option>
                                           <option value="BUMSII">BUMS II-year</option>
                                            <option value="BUMSIII">BUMS III-year</option>
                                           <option value="BUMSIV">BUMS IV-year</option>
                                           <option value="BUMSV">BUMS Final-year</option>
                                         </optgroup>
 <optgroup label=""></optgroup>
                                         <optgroup label="Medical Books & modules">
                            
                                          <option value="Anatomy">Anatomy</option>
                                     <option value="Anesthesiology">Anesthesiology</option>
                                     <option value="Biochemistry">Biochemistry</option>
                                     <option value="CommunityMedicine">Community Medicine</option>
                                     <option value="Cardiology">Cardiology</option>
                                     <option value="Dermatology">Dermatology</option>
                                     <option value="ECG">ECG</option>
                                     <option value="ENT">ENT</option>
                                     <option value="ForensicMedicine">Forensic Medicine</option>
                                     <option value="ObstetricsandGynaecology">Obstetrics and Gynaecology</option>
                                     <option value="Orthopedics">Orthopedics</option>
                                     <option value="Opthalmology">Opthalmology</option>
                                     <option value="Microbiology">Microbiology</option>
                                     <option value="Medicine">Medicine</option>
                                     <option value="Pathology">Pathology</option>
                                     <option value="Physiology">Physiology</option>
                                     <option value="Pediatrics">Pediatrics</option>
                                     <option value="Pharmacology">Pharmacology</option>
                                     <option value="Surgery">Surgery</option>
                                     <option value="mfothers">Others</option>
                                         </optgroup>






 <optgroup label=""></optgroup>
                                    <optgroup  label="Arts Courses">
                          <optgroup label=""></optgroup>           
                                         <optgroup label="B.A">
                                           <option value="BAI">B.A I-year</option>
                                           <option value="BAII">B.A II-year</option>
                                           <option value="BAIII">B.A Final-year</option>

                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="B.F.A">
                                           <option value="BFAI">B.F.A I-year</option>
                                           <option value="BFAII">B.F.A II-year</option>
                                           <option value="BFAIII">BFA Final-year</option>

                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="B.B.A">
                                           <option value="BBAI">B.B.A I-year</option>
                                           <option value="BBAII">B.B.A II-year</option>
                                           <option value="BBAIII">B.B.A Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="B.A + L.L.B">
                                           <option value="BLLBI">B.A + L.L.B I-year</option>
                                           <option value="BLLBII">B.A + L.L.B II-year</option>
                                           <option value="BLLBIII">B.A + L.L.B III-year</option>
                                           <option value="BLLBIV">B.A + L.L.B IV-year</option>
                                           <option value="BLLBV">B.A + L.L.B Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="B.J.M">
                                           <option value="BJMI">B.J.M I-year</option>
                                           <option value="BJMII">B.J.M II-year</option>
                                           <option value="BJMIII">B.J.M Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="B.H.M">
                                           <option value="BHMI">B.H.M I-year</option>
                                           <option value="BHMII">B.H.M II-year</option>
                                           <option value="BHMIII">B.H.M III-year</option>
                                            <option value="BHMIV">B.H.M Final-year</option>
                                    </optgroup>


 <optgroup label=""></optgroup>
                                <optgroup  label="Commerce Courses">
                                 <optgroup label=""></optgroup>
                                         <optgroup label="B.Com">
                                           <option value="BComI">B.Com I-year</option>
                                           <option value="BComII">B.Com II-year</option>
                                           <option value="BComIII">B.Com Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="B.L.Ed">
                                           <option value="BLDI">B.L.Ed I-year</option>
                                           <option value="BLDII">B.L.Ed II-year</option>
                                           <option value="BLDIII">B.L.Ed  III-year</option>
                                            <option value="BLDIV">B.L.Ed Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="B.Ed">
                                           <option value="bedi">B.Ed I-year</option>
                                           <option value="bedii">B.Ed II-year</option>      
                                         </optgroup>
                                            <optgroup label=""></optgroup>
                                         <optgroup label="B.tc">
                                           <option value="btci">B.tc I-year</option>
                                           <option value="btcii">B.tc II-year</option>      
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="L.L.B">
                                           <option value="LLBI">L.L.B I-year</option>
                                           <option value="LLBII">L.L.B II-year</option>
                                           <option value="LLBIII">L.L.B Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="CA">
                                           <option value="CAI">CA I-year</option>
                                           <option value="CAII">CA II-year</option>
                                           <option value="CAIII">CA III-year</option>
                                           <option value="CAIV">CA IV-year</option>
                                           <option value="CAV">CA Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                          <optgroup label="CS">
                                           <option value="CSI">CS I-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="CMA">
                                           <option value="CMAI">C.M.A I-year</option>
                                           <option value="CMAII">C.M.A II-year</option>
                                           <option value="CMAIII">C.M.A III-year</option>
                                            <option value="CMAIV">C.M.A Final-year</option>
                                         </optgroup>
                                            
 <optgroup label=""></optgroup>
                                        <optgroup label="CFP">
                                           <option value="CFPI">C.F.P I-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="M.Com">
                                           <option value="MComI">M.Com I-year</option>
                                           <option value="MComII">M.Com Final-year</option>
                                         </optgroup>
                                          <optgroup label=""></optgroup>
                                         <optgroup label="M.B.A">
                                           <option value="MBAI">M.B.A I-year</option>
                                           <option value="MBAII">M.B.A Final-year</option>
                                         </optgroup>
                                    </optgroup>
                                     <optgroup label=""></optgroup>
                                    <optgroup label="Language">
                                    <option value="Sanskrit">Sanskrit</option>
                                    <option value="Hindi">Hindi</option>
                                    <option value="English">English</option>
                                    <option value="French">French</option>
                                    <option value="LangOthers">Others</option>  
                                    </optgroup>
                                    <optgroup label=""></optgroup>
                                    <optgroup label="Fiction & Non-Fiction">
                                    <option value="Astrology">Astrology</option>
                                    <option value="Business">Business</option>
                                    <option value="Health">Health</option>
                                    <option value="HistoryPolitics">History-Poltics</option>
                                    <option value="SportsGames">Sports-Games</option>
                                    <option value="FictionalOther"> Others</option>  
                                    </optgroup>
                                    <optgroup label=""></optgroup>
                                    <optgroup label="Entertainment">
                                    <option value="Magazine">Magazine</option>
                                    <option value="ComicBooks">Comic Books</option>
                                    <option value="StoryBook">Story Book</option>
                                    <option value="PoemBook">Poem Book</option>
                                    <option value="OtherEntertainment">Others</option>  
                                    </optgroup>
                                    <optgroup label=""></optgroup>
                                    <optgroup label="Self Help & Spirituality">
                                    <option value="self_help">Self Help</option>
                                    <option value="Spirituality">Spirituality</option>
                                    <option value="shspo">Others</option>  
                                    </optgroup>
                                     <optgroup label=""></optgroup>
                                     <optgroup label="Finance and Economy">
                                    <option value="Finance">Finance</option>
                                    <option value="Economy">Economy</option>
                                    <option value="feo">Others</option>  
                                    </optgroup>
                                    <option value="Other">Others</option>
                                    </optgroup>
                                </select>
                    <br><br>
    
                           <label for="board">Board(if any) : </label>
                           <br>
                            <select name="board" id="board" class="ngo_class">
                             <option value="" selected disabled hidden>Choose here</option>
                                    <option value="CBSE">CBSE </option>
                                    <option value="ICSE">ICSE</option>
                                    <option value="Up-board">Up-board</option>
                                    <option value="Delhi-board">Delhi-board</option>
                                    <option value="Other-board">Other board</option>
                             </select>
                                <br><br>
                                <label for="bookphoto">Book image : </label><br>
                                <input type="file" id="bookphoto" name="bookphoto" class="text-center" multiple required>
                                <br><br>
                                <input type="submit" value="Submit Detail" class="btn btn-primary">
                            </form>
                        </div>
                 </div>
            </div>
        <div class="col-lg-6 col-md-6 mr-auto mt-5">
            <img src="{% static 'img/transfer.png' %}" alt="transfer_image" style="width:100%;">
        </div>
    </div>
</section>

{% endblock content %}